body {
    background:lightgray;
    color: black;
    font-family: Helvetica, sans-serif;
    margin: auto;
  }
  main{
    padding:40px;
  }
  header {
    border: 1px solid rgba(255, 255, 255, 0.8);
    margin-bottom: 0px;
    border-radius: 3px;
    padding: 16px;
    display: flex;
    justify-content: space-between;
    background-color: darkgray;
  }
  nav {
    padding-top: 30px;
    text-align: right;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: none;
  }
  
  nav ul li {
    padding: 8px 0;
  }
  
  nav ul li a {
    color: white;
  }
  
  .show-items {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  img{
    max-width: 100%;
  }
  .hero{

    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    position: relative;
}
video{
  max-width:100%;
}

/* Style to overlay content on top of the video */
.content-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color:black; /* Set text color to white or a color that suits your design */
}
h2{
    margin: auto;
    text-align: center;
}
.services-page {
    width: 100%;
}
.flex-services-page {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 10px;
}

.grid-item {
  position: relative;
}

.grid-item img {
  width: 100%;
  height: auto;
  display: block;
}

.overlay-text1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 16px;
  font-weight: bold;
}
.overlay-text2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 16px;
  font-weight: bold;
}
.clickable-box {
    display: inline-block;
    padding: 10px;
    background-color: orangered; /* Box background color */
    color: #fff; /* Text color */
    text-decoration: none; /* Remove underline for the link */
    border-radius: 10px; /* Rounded corners */
    transition: background-color 0.3s ease; /* Smooth transition for background color */
    text-align: center;
    margin-left: 50px;
    margin-top: 30px;
}
.our-team{
  margin-top: 30px;
}
.our-team img{
  max-width: 80%;
  margin:auto;
  padding: 30px;
  text-align: center;   
}

.book{
    background-image: url('images/1.jpg');
    background-size: cover; /* Adjust as needed */
    background-position: center; /* Adjust as needed */
    background-repeat: no-repeat; /* Adjust as needed */
    padding:40%; /* Remove default padding */
    margin: 30px;
}
.book a{
    border: 1px solid black;
    border-radius: 5px;
    position: absolute;
    left: 30%;
    color: white;
    font-size: 2rem;
    text-decoration: none;
}
.our-approach{
    display: none;
}
.contact-us{
    margin: 20px 0;
  }
  iframe{
    width:90% ;
    padding: 10px 10px;
  }
footer{
    display: flex;
    padding: 10px  40px;
}
.anchor{
  display:none;
}

@media only screen and (min-width: 768px) {

  body {
    background:lightgray;
    color: black;
    font-family: Helvetica, sans-serif;
    margin: auto;
  }
  main{
    padding:10px;
    max-width: 100%;
  }
 
  header {
    align-items: center;
  }

  nav {
    padding-top: 0;
  }

  nav .toggle {
    display: none;
  }

  #nav-items {
    display: flex;
    flex-direction: row;
    gap: 40px;
  }

  img{
    max-width: 100%;
  }
  .hero{
    max-width: 100%;
    overflow: hidden;
    position: relative;
    margin: auto;
}
video{
  max-width:100%;
}

/* Style to overlay content on top of the video */
.content-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color:black; /* Set text color to white or a color that suits your design */
}
h2{
    margin: auto;
    text-align: center;
}
h1{
  margin: auto;
  text-align: center;
}
.about-us
{
  margin: auto;
  padding: 60px;
  font-size: 24px;
}
.services {
    width: 100%;
}
.flex-services{
  display: flex;
  margin: auto;
  padding: 10px;
}
.overlay-text1{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 20px;
  font-weight: bold;
}
.clickable-box {
   padding: 10px;
    background-color: orangered; /* Box background color */
    color: #fff; /* Text color */
    text-decoration: none; /* Remove underline for the link */
    border-radius: 10px; /* Rounded corners */
    transition: background-color 0.3s ease; /* Smooth transition for background color */
    margin-left: 43%;
}
.our-team {
  width: 100%;
  margin: auto;
  align-content: center;
  padding: 30px 100px;
}
.our-team img{
  width:100%;
  margin: auto;
}
.our-team h2{
  margin-right: 60px;
}
.book{
    background-image: url('images/1.jpg');
    background-size: cover; /* Adjust as needed */
    background-position: center; /* Adjust as needed */
    background-repeat: no-repeat; /* Adjust as needed */
    padding: 300px 0px;
    margin: auto;
}
.book a{
    border: 1px solid black;
    border-radius: 5px;
    position: absolute;
    left: 45%;
    color: white;
    font-size: 2rem;
    text-decoration: none;
}
.para-hide{
  display:initial;
  color: black;
  width:50%;
}
.our-approach{
  margin: auto;
  align-items: center;
  width: 95%;
  font-size: 24px;
  margin:30px;
  display: block;
}
.contact-us{
  width: 100%;
  text-align: center;
  margin: 30px;
}
footer{
    display: flex;
    margin: auto;
}
footer img{
  width: 50%;
}
.anchor{
  width: 600px;
  margin: auto;
  display:block;
}
.anchor a {
  color: white;
  background-color: #5A827F;
  padding: 5px 11px;
  border-style: 2px solid;
  border-radius: 25px;
  width: 100%;
  margin-left: 200px;
  text-decoration:none;
}
a:hover
{
  background-color: red;
  font-size: 35px;
}
iframe{
  width:90% ;
  padding: 50px 70px;
}






/*  services page*/

.grid-item {
  padding: 10px;
  font-size: 30px;
  text-align: center;
  position: relative;
  gap: 10px;
}
.flex-services-page {
  display: grid;
  grid-template-columns: auto auto auto;
}
.grid-item img {
  width: 100%;
  height: auto;
  display: block;
}
.overlay-text2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 20px;
    font-weight: bold;
}



/*contact-us page*/
.contact-div{
  background-image: url('images/book.jpg');
  background-size: cover; /* Adjust as needed */
  background-position: center; /* Adjust as needed */
  background-repeat: no-repeat; /* Adjust as needed */
  padding: 300px 20px;
  margin: auto;
  width: 100%;
}
}