body {
    background:lightgray;
    color: black;
    font-family: Helvetica, sans-serif;
    margin: auto;
  }
  main{
    padding:30px;
  }
  header {
    border: 1px solid rgba(255, 255, 255, 0.8);
    margin-bottom: 0px;
    border-radius: 3px;
    padding: 16px;
    display: flex;
    justify-content: space-between;
    background-color: darkgray;
  }
  nav {
    padding-top: 30px;
    text-align: right;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: none;
  }
  
  nav ul li {
    padding: 8px 0;
  }
  
  nav ul li a {
    color: white;
  }
  
  .show-items {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  img{
    max-width: 100%;
  }
  .hero{

    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    position: relative;
}
video{
  max-width:100%;
}

/* Style to overlay content on top of the video */
.content-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color:black; /* Set text color to white or a color that suits your design */
}
h2{
    margin: auto;
    text-align: center;
}
.services {
    width: 100%;
}
.image{
    max-width: 100%;
    background-image: url('images/CancerRecovery.jpg');
    background-size: cover; /* Adjust as needed */
    background-position: center; /* Adjust as needed */
    background-repeat: no-repeat; /* Adjust as needed */
    margin: 30px;
    padding: 10px; /* Remove default padding */
    text-align: center;
}
.overlay-text{
    text-align: center;
    margin-top: 100%;
    color: brown;
    font-size: 24px;
}
.image2{
    background-image: url('images/Acupuncture.jpg');
    background-size: cover; /* Adjust as needed */
    background-position: center; /* Adjust as needed */
    background-repeat: no-repeat; /* Adjust as needed */
    margin: 30px;
    padding: 3px; /* Remove default padding */
    text-align: center;
}
.image3{
    background-image: url('images/ManualTherapy.jpg');
    background-size: cover; /* Adjust as needed */
    background-position: center; /* Adjust as needed */
    background-repeat: no-repeat; /* Adjust as needed */
    margin: 30px;
    padding: 30px; /* Remove default padding */
    text-align: center;
}


.clickable-box {
    display: inline-block;
    padding: 13px;
    background-color: black; /* Box background color */
    color: #fff; /* Text color */
    text-decoration: none; /* Remove underline for the link */
    border-radius: 10px; /* Rounded corners */
    transition: background-color 0.3s ease; /* Smooth transition for background color */
    text-align: center;
    margin-left: 80px;
}

.images4{
    width: 100%;
    background-image: url('images/2.jpg');
    background-size: cover; /* Adjust as needed */
    background-position: center; /* Adjust as needed */
    background-repeat: no-repeat; /* Adjust as needed */
    margin: 10px; /* Remove default margin */
    padding: 1px; /* Remove default padding */
    text-align: center;   
}
.overlay-text4{
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 24px;
    font-weight: bold;
}
.book{
    background-image: url('images/1.jpg');
    background-size: cover; /* Adjust as needed */
    background-position: center; /* Adjust as needed */
    background-repeat: no-repeat; /* Adjust as needed */
    padding:40%; /* Remove default padding */
    margin: 30px;
}
.book a{
    border: 1px solid black;
    border-radius: 5px;
    position: absolute;
    left: 30%;
    color: white;
    font-size: 2rem;
    text-decoration: none;
}
.desktop{
    display: none;
}
footer{
    display: flex;
}